fastapi
dotenv
uvicorn
sqlalchemy
pdfplumber
passlib
psycopg2-binary
asyncpg
alembic
pydantic
PyJWT>=2.0.0
email-validator
pgvector
psycopg2-binary
bcrypt==4.0.1
passlib==1.7.4
langchain
langchain_google_genai
python-multipart
supabase
aiofiles
PyPDF2
redis
croniter==6.0.0                                                                                                                                   
pytz==2025.2                                                                                                                                      
rq==2.6.1
pdf2image
Pillow
pymongo>=4.16.0
arq
requests
sentence-transformers>=2.7.0