fastapi
dotenv
uvicorn
sqlalchemy
pdfplumber
passlib
psycopg2-binary
asyncpg
alembic
pydantic
jwt
email-validator
pgvector
psycopg2-binary
bcrypt==4.0.1
passlib==1.7.4
langchain
langchain_google_genai
python-multipart
supabase
aiofiles
PyPDF2
redis
croniter==6.0.0                                                                                                                                   
pytz==2025.2                                                                                                                                      
rq==2.6.1
watchfiles
celery 
redis
